*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.land{
    width: 100%;
    min-height: 150vh;
    background-image: url(../images/kenya4.jpg);
    background-position: center;
    background-size: cover;
    padding: 5px 1%;
    overflow: hidden;
}
nav{
    padding: 3px 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    font-style:inherit;
    font-weight: 200;
}
.logo{
    width: 200px;
    margin-right: 40px;
}
nav ul li{
    display: inline-flex;
    list-style: none;
    margin: 70px 15px;
    font-size: larger;

}
.menu{
    top: 84px;
    right: 80px;
    position: absolute;
    font-size: larger;
}
nav ul li a{
    text-decoration: none;
    color: rgb(133, 96, 5);
    font-weight: 600;
}
.contact{
    text-decoration: none;
    color: rgb(133, 96, 5);
    font-weight: 600;
    margin-right: 15px;
    right: 80px;
}
.about{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color:rgb(133, 96, 5);
    background-image: linear-gradient(5deg, #f7c848, #755b79);
    font-size: larger;
    border-radius: 30px;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0;
    font-weight: 600;
    transition: 0.5s;
}
.content{
    margin-top: 10%;
    max-width: 600px;
}
.content h1{
    font-size: 70px;
    color: wheat;
    animation-delay: 1s;
}
.content p{
    margin: 10px 0 30px;
    color: wheat;
    font-size: 26px;
    animation-delay: 1.5s;
}
.disc{
    padding: 15px 80px;
    font-size: 20px;
    color: rgb(138, 102, 10);
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(5deg, #a9dd65, #e082ec);
    border-radius: 30px;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0;
    font-weight: 600;
    transition: 2s;
    animation-delay: 2s;
}
.about:hover{
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
}
.disc:hover{
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px; 
}
.image{
    width: 430px;
    height: 600px;
    position: absolute;
    bottom: 0;
    right: 10%;
    top: 40%;
}
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.9s linear forwards;
}
@keyframes moveup{
    100%{
    opacity: 1;
    transform: translateY(0px);}
}
.head{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.gallery{
    height: 80%;
    width: 100%;
    display: flex;
    margin: 5% auto 0;
    box-sizing: border-box;
}
.imagebox{
    margin: 0 1%;
    flex-grow: 1;
    flex-basis: 0;
    transition: o.5s;
}
.imagebox img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.imagebox:hover{
    flex-basis: 15%;
}